// Framework
@import "settings";
@import "framework/all";

// Sprites
@import "mixins/sprite";
@import "partials/sprites";

// Partials
@import "partials/typography";
@import "partials/forms";
@import "partials/elements";
@import "partials/font-awesome";
@import "partials/slick";

// Custom CSS below


::selection {
  background: $primary-color;
  color: black-or-white($primary-color, 65);
}

* {
  font-family: 'Roboto', sans-serif;
}

p:empty {
  display: none;
}

h1,h2,h3,h4,h5 {
  color: $title-color;
  margin: 0;
  font-weight: 500;
}

h1 {
  font-size: 34px;
  line-height: 1.25;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
  line-height: 1.25;
  margin-bottom: 12px;
}

h3 {
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 12px;
}

h4 {
  font-size: 20px;
  line-height: 1.25;
  margin-bottom: 12px;
}

h5 {
  font-size: 18px;
  line-height: 1.25;
  margin-bottom: 12px;
}
h6 {
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 12px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
  margin-top: 0;
}

li {
  line-height: 27px;
}
ul {
    list-style-type: none;
    padding-left: 0;
    li {
        position: relative;
        padding-left: 20px;
        &:before {
            content: '';
            position: absolute;
            top:6px;
            left: 0;
            @include sprite('li-icon');
        }
    }
}

a {
  color: $primary-color;
  text-decoration: underline;
  &:hover {    
    color: $secondary-color;
  }
  &:focus {
    color: $secondary-color;
  }
}

// NAVIGATION

ul[id*=menu] {
  margin: 0;
  padding: 0;
  font-size: 0;
  display: inline-block;
  li {
    display: inline-block;
    list-style: none;
    &:last-child {
      margin-right: 0;
    }
    &:first-child {
      margin-left: 0;
    }
    a {
      font-size: 14px;
      display: inline-block;
    }
  }
}

#menu-top-nav {
  li {
    a {
      &:hover {

      }
    }
  }
}

#menu-footer-nav {
  li {
    a {
      &:hover {

      }
    }
  }
}

#menu-mobile-nav {
  li {
    a {
      &:hover {

      }
    }
  }
}

#menu-main-nav {
  li {
    a {
      &:hover {

      }
    }
    &.current-menu-item,
    &.current-page-ancestor	{
      a {
      }
    }
  }



  .menu-item-has-children {
    position: relative;
    .sub-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: -1px;
      z-index: 600;
    }
    &:hover {
      .sub-menu {
        display: block;
        background: #fff;
        padding: 0 0 15px 0;
        li {
          display: block;
          text-align: left;

          a {
            display: block;
            font-size: 18px;
            line-height: 18px;
            padding: 15px 26px 15px 26px;
          }

          &:first-of-type {
            a {
              padding-top: 0;
            }
          }
        }
      }
    }
  }
}

.menu-icon {
  color: #FFF;
  display: block;
  height: 2.5rem;
  padding: 0;
  position: absolute;
  z-index: 400;
  right: 13px;
  top: 26px;
  transform: translate3d(0, 0, 0);
  width: 34px;
  &:before,
    &:after {
    content: "";
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    background: #94c356;
    width: 34px;
    height: 4px;
    left: 0;
  }
  &:before {
    box-shadow: 0 8px 0 0 #94c356;
    position: absolute;
  }
  &:after {
    position: absolute;
    top: 16px;
  }
  &.opened {
    &:before {
      box-shadow: 0 0 0 0 transparent;
      transform: rotate(225deg);
      top: 7px;
    }
    &:after {
      transform: rotate(315deg);
      top: 7px;
    }
  }
}

// ELEMENTS

.sidebar {
  margin: 12px 0 0;
  padding: 0;
  > li {
    list-style: none;
    &:last-child {
      margin-bottom: 42px;
    }
  }
}
.pagination.current {
  display: inline-block;
  font-size: 16px;
  line-height: 33px;
  height: 33px;
  width: 33px;
  text-align: center;
  background: darken(#ccc, 20);
  color: #fff;
  text-decoration: none;
  margin-right: 8px;
}
.w_pagination {
  > span {
    display: inline-block;
    vertical-align: middle;
    line-height: 33px;
  }
  ul {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    padding-left: 9px;
    li {
      list-style: none;
      display: inline-block;
      a {
        font-size: 16px;
        line-height: 33px;
        display: inline-block;
        height: 33px;
        width: 33px;
        text-align: center;
        background: #ccc;
        color: #fff;
        text-decoration: none;
        margin-right: 8px;

        &.prev,
        &.next {
          display: none;
        }
      }
      &.current {
        a {
          color: #333;
          background: #f3f3f3;
        }
      }
    }
  }
}

.btn {
    position: relative;
    display: inline-block;
    outline: 0 !important;
    background-color: $primary-color;
    border-bottom: 4px solid $secondary-color;
    color: white;
    margin: 0;
    padding-left: 20px;
    padding-right: 48px;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    font-size: 16px;
    text-decoration: none;
    transition: .2s background;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $secondary-color;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:after {
        content: '';
        position: absolute;
        top: 54%;
        right: 10px;
        transform: translateY(-50%);
        @include sprite('white-arrow-right');
    }
    &.tel {
        &:after {
            @include sprite('phone-icon');
        }
    }
    &.email {
        &:after {
            @include sprite('mail-icon');
        }
    }
    &:hover, &:focus {        
        color: white;
        text-decoration: none;        
        &:before {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        }        
    }
    @media only screen and (max-width : 640px) {
      min-width: 170px;
    }
}
// CONTACT FORM 7

.wpcf7-form {
  .wpcf7-radio {
    span {
      cursor: pointer;
    }
  }
  .wpcf7-text,
  .wpcf7-textarea {
    border: 1px solid #ccc;
    color: #363432;
    font-size: 18px;
    padding-left: 11px;
    &:focus {
      outline: none;
    }
  }
  .wpcf7-text {
    height: 48px;
    line-height: 48px;
    width: 100%;
  }
  .wpcf7-textarea {
    height: 134px;
    padding-top: 6px;
    display: block;
    width: 100%;
    resize: none;
  }
  > p {
    margin-bottom: 20px !important;
  }
  .wpcf7-submit {
    color: #f0ece9 !important;
    background: #bf9764;
    outline: 0 !important;
    height: 50px;
    line-height: 50px;
    padding: 0 22px;
    margin: 0;
    font-size: 16px;
    transition: .2s background, .2s border-color;
    font-size: 16px;
    &:hover {
      background: #ac8554;
    }
  }
}
//Gravity forms


body .gform_wrapper input.large,
body .gform_wrapper input.medium,
body .gform_wrapper input.small,
body .gform_wrapper select.large,
body .gform_wrapper select.medium,
body .gform_wrapper select.small{
  border:1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  line-height:50px;
  height:45px;
  outline:none;
}

body .gform_wrapper textarea.small,
body .gform_wrapper textarea.medium,
body .gform_wrapper textarea.large{
  border:1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  line-height:30px;
  outline:none;
}
body .gform_wrapper ul.gform_fields li.gfield {
  padding-right:0;
}

body .gform_wrapper .top_label input.medium,
body .gform_wrapper .top_label select.medium {
  width:50%;
}

body .gform_wrapper li.gfield.gfield_error,
body .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background-color:#eaeaea;
  border:none;
}

body .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
body .gform_wrapper li.gfield_error textarea {
  border-color:#d16915;
}
body .gform_wrapper ul.gform_fields li.gfield {
    padding-left: 0;
}
body .gform_wrapper .top_label .gfield_error {
    width: 100%;
}
@media (min-width: 641px) {
    body .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
        max-width: 100% !important;
    }
}

// 404 page

label[for=s] {
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 10px;
  display: block;
  vertical-align: middle;
}

#s {
  font-size: 18px;
  padding-left: 14px;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  &:focus {
    outline: none;
  }
}
//Header 
.header {
    background-color: $primary-color;
    padding-top: 22px;    
    border-bottom: 5px solid white;
    .logo {
        display: inline-block;        
        img {
            display: inline-block;
            width: 166px;
            height: 22px;
        }
        @media(max-width: 1024px){
            //display: block;
            display: inline-block;
            margin-bottom: 17px;
        }
        @media(max-width: 700px){
            //display: inline-block;
            //margin-bottom: 17px;
        }
    }
    //Headroom
    &.headroom {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;    
        z-index: 999;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;        
    }
    &.headroom--pinned {
        transform: translateY(0);
    }
    &.headroom--unpinned {
        transform: translateY(-100%);      
    }
}
//Top Nav
.menu-top-nav-container {
    display: inline-block;
    line-height: 1;
    margin-left: 10px;
    vertical-align: top;
    @media(max-width: 1024px){
        margin-left: 0;
        display: none;
    }
    @media(max-width: 701px){
        display: none;
    }
    .main-nav {
        .menu-item {
            position: relative;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 10px;
            @media(max-width: 1024px){
                padding-left: 10px;
                padding-right: 10px;
                &:first-child {
                    padding-left: 0;
                    &:after {
                        left: 0;                        
                        right:10px;
                    }
                }
            }
            &:before {
                display: none;
            }
            &:after {
                content: '';
                position: absolute;
                background-color: $secondary-color;
                height: 5px;
                left: 20px;
                right:20px;
                bottom: 0;
                transition: all .3s ease-in-out;
                @media(max-width: 1024px){
                    left: 10px;
                    right: 10px;
                }
            }
            &:not(.current-menu-item):after {                
                max-width: 0;                
            }
            &:hover {
                &:after {
                    max-width: 100%;
                }
                a {
                    color: $secondary-color;
                }
            }
            a {
                color: white;
                font-size: 16px;
                font-weight: 500;
                line-height: 1;
                text-decoration: none;
            }
            &.current-menu-item {                
                &:after {
                    content: '';
                    position: absolute;
                    background-color: $secondary-color;
                    height: 5px;
                    left: 20px;
                    right:20px;
                    bottom: 0;
                    @media(max-width: 1024px){
                        left: 10px;
                        right: 10px;
                    }
                }
                &:first-child {
                    @media(max-width: 1024px){
                        &:after {
                            left: 0;
                        }                        
                    }
                }
                a {
                    color: $secondary-color;
                }
            }
            &.menu-item-has-children {
                ul.sub-menu {
                    display: none;
                    text-align: left;
                    z-index: 1001;
                    background: transparent;
                    min-width: 200px;
                    top: 100%;
                    left: 20px;
                    transform: translateY(0);
                    position: absolute !important;
                    width: 1px;
                    padding: 3px 0 0 0;
                    list-style: none;
                    li {
                        background: $primary-color;
                        display: block;
                        padding: 0;
                        transition: all 0.3s ease-in-out;
                        margin-top: 2px;
                        &.current-menu-item {
                            &:after {
                                left: 0;
                                right: 0;
                            }
                        }
                        a {
                            display: block;
                            color: white;
                            text-shadow: none;
                            font-size: 16px;
                            //font-weight: 300;
                            padding: 15px 10px;
                            transition: all 0.3s ease-in-out;
                            &:hover {
                              color: #fff;
                            }
                        }
                        &:hover {
                            background: #bb141a;
                            &:after {
                                display: none;
                            }                            
                        }
                        ul.sub-menu {
                          left: 100%;
                          padding: 0 0 0 2px;
                          top: -2px;
                            li {
                                &.current-menu-item {
                                    &:after {
                                        left: 0;
                                        right: 0;
                                    }
                                }
                                a {
                                    color: white;
                                    &:hover {
                                      color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
                &:hover {
                    > ul.sub-menu {
                      display: block;
                    }
                }
            }
        }
    }
}
.language-select {
    position: relative;
    display: inline-block;
    float: right;    
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    vertical-align: top;
    @media(max-width: 1024px){
        margin-right: 35px;
    }
    .current-language {
        display: inline-block;
        margin-bottom: 5px;
    }
    .other-languages {
        display: none;
        position: absolute;
        left: -5px;
        right: -5px;
        list-style-type: none;
        padding-left: 5px;
        padding-right: 5px;
        background-color: $primary-color;
        margin: 0;
        li {
            width: 100%;
            height: 100%;
            line-height: 1;
            margin-bottom: 5px;
            padding-left: 0;
            &:before {
                display: none;
            }
            img {
                width: 23px;
                height: 16px;
            }
        }            
    }    
    .arrow-select {
        position: absolute;
        right: -17px;
        top: 6px;           
        width: 13px;
        height: 17px;
        &:after {
            content: '';
            position: absolute;            
            @include sprite(arrow-down-white);
        }
    }        
    &.opened {
        .arrow-select {
            &:after {
                transform: rotate(180deg);
            }
        }            
    }
}
//Mobile Menu
.mobile-menu {
    display: none;
    margin-bottom: 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ed9d19;
    height: 100vh;
    width: 100%;
    overflow: scroll;
    z-index: 8;
    .main-nav-container {
        margin-top: 50px;
        margin-left: 15px;
        margin-right: 15px;
        text-align: left !important;
        .menu-item {
            display: block;
            line-height: 27px;
            padding-left:0;
            &:before {
                display: none;
            }
            a {
                color: white;
                font-size: 18px;
                line-height: 40px;
                font-weight: 500;
                text-decoration: none;
            }            
        }
        .sub-menu {
            padding-left: 15px;
        }
    }
}
//Menu Toggler
.menu-toggler {
    @media(min-width:1024px){
        display:none;
    }
    float: right;
    position: relative;
    z-index: 9;
    .menu-title {
        line-height: 1;
        //padding: 9px 0;
        //padding-top: 25px;
        padding-top: 2px;
        text-align: center;
        a {
            color: white;
            font-size: 16px;
            font-weight: 700;
            text-decoration: none;
            text-transform: uppercase;
        }
        .nav-icon {
            display: inline-block;
            width: 24px;
            height: 15px;
            position: relative;
            //margin: 50px auto;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
            top:1px;
            //left:28px;
            &:not(.open){
                &:hover {
                    span {
                        &:nth-child(1) {
                            top: 0px;
                            -webkit-transform-origin: left center;
                            -moz-transform-origin: left center;
                            -o-transform-origin: left center;
                            transform-origin: left center;
                            width: 100%;
                        }
                    }
                }
            }
            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background: white;
                //border-radius: 9px;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;
                &:nth-child(1) {
                    top: 0px;
                    -webkit-transform-origin: left center;
                    -moz-transform-origin: left center;
                    -o-transform-origin: left center;
                    transform-origin: left center;
                    width: 50%;
                }
                &:nth-child(2) {
                    top: 6px;
                    -webkit-transform-origin: left center;
                    -moz-transform-origin: left center;
                    -o-transform-origin: left center;
                    transform-origin: left center;
                }
                &:nth-child(3) {
                    top: 12px;
                    -webkit-transform-origin: left center;
                    -moz-transform-origin: left center;
                    -o-transform-origin: left center;
                    transform-origin: left center;
                }
            }
            &.open {
                span {
                    &:nth-child(1) {
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                        top: -3px;
                        left: 0px;
                        width: 100%;
                    }
                    &:nth-child(2) {
                        width: 0%;
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        top: 14px;
                        left: 0px;
                    }
                }
            }
        }
    }
}
//Page Sections
//Top Header Image Section
.top-header-section {
    position: relative;    
    .top-header-image {
        display: block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 auto;
        max-width: 1920px;
        min-height: 500px;
        @media(max-width: 640px){
            min-height: 300px;
        }
    }
    .slogan-wrapper {
        position: absolute;
        bottom: -40px;
        background-color: $background-color;
        padding: 25px 44px 25px 44px;
        line-height: 1.25;
        .slogan {
            font-size: 40px;
            font-weight: 500;
            @media(max-width:640px){
                font-size: 34px;
            }
        }
        @media(max-width:640px){
            max-width: 100%;
            left: 0;
            right: 0;
        }
    }
    &.default-page {
        margin-bottom: 90px;
        @media only screen and (max-width : 640px) {
          margin-bottom: 80px;
        }
    }
}
//Breadctumbs
.breadcrumbs {
    font-size: 14px;
    margin-bottom: 55px;
    @media only screen and (max-width : 640px) {
      margin-bottom: 35px;
    }
    a {
        color: $text-color;
    }
    .fa-angle-right {
        color: $text-color;
        font-size: 17px;
        margin-right: 7px;
        margin-left: 7px;
    }
    span[property="itemListElement"]:first-child {
        margin-left: 10px;
    }
}
//Home Page Top Section
.homepage-top-section {
    position: relative;
    top: -60px;
    .left-section {
        //position: relative;
        //height: 370px;
    }
    .content-wrapper {
        background-color: #ededed;
        padding: 15px 30px 15px 30px;
        margin-bottom: 25px;
        height: 370px;
        max-height: 370px;
        position: relative;
        //top: 50%;
        //transform: translateY(-50%);
        @media(max-width: 1024px){
            max-height: 100%;
        }
        .content-inner-wrapper {
            position: absolute;
            top: 50%;
            left: 30px;
            right: 30px;
            transform: translateY(-50%);
        }
    }
    .no-padding {
        padding-left: 0;
        padding-right: 0;
        @media(max-width: 1024px){
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .right-blocks-wrapper {
        font-size: 0;
        text-align: center;
        .single-block {
            position: relative;
            display: inline-block;
            background-color: white;
            height: 170px;
            width: 170px;
            border-top: 1px solid #ededed;
            border-right: 1px solid #ededed;
            border-left: 1px solid #ededed;
            border-bottom: 4px solid $secondary-color;
            margin-bottom: 30px;
            margin-left: 15px;
            margin-right: 15px;
            vertical-align: top;
            transform: perspective(1px) translateZ(0);
            transition-duration: 0.3s;            
            transition-property: transform;            
            .inner-single-block {
                position: absolute;
                //top: 50%;
                left: 0;
                right: 0;
                text-align: center;
                //transform: translateY(-50%);
                bottom: 0;
                h4 {
                    color: $primary-color;
                    font-size: 16px;
                    margin-bottom: 22px;
                }
                img {
                    //margin-bottom: 25px;
                    margin-bottom: 10px;
                }
            }
            @media(max-width:640px){
                margin-bottom: 20px;
                .inner-single-block {
                    h4{
                        font-size: 15px;
                    }
                    img {
                        margin-bottom: 5px;
                    }
                }
            }
            @media(max-width:440px){
                margin-left: 0;
                margin-right: 2px;                
            }
            &:hover {
                transform: scale(1.1);
            }
            a {
                position: absolute;
                top:0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }
    }
}
//Two Columns Content
.two-columns-text {
    margin-bottom: 70px;
    .content {
        p {
            margin-bottom: 0;
        }
    }
    .left-column {
        @media(max-width:640px){
            border-right: none !important;
        }
        .content {
            padding-right: 100px;
            @media(max-width:1024px){
                padding-right: 50px;
            }
            @media(max-width:640px){
                padding-right: 0;
            }
        }
    }
    .right-column {
        @media(max-width:640px){
          margin-top: 40px;
        }

        .content {
            padding-left: 100px;
            @media(max-width:1024px){
                padding-left: 50px;
            }
            @media(max-width:640px){
                padding-left: 0;
            }
        }
    }
}
//Steps Section
.steps-section {
    .section-title {
        margin-bottom: 35px;
        text-align: center;
    }
    .step-column {
        position: relative;
        .arrow {
            position: absolute;
            top: 40px;
            right: -17px;
            z-index: 1;
            @media (max-width: 640px) {                
                top: auto;
                bottom: 17px;
                left: 0;
                right: 0;
                .svg-img {
                    display: block;
                    margin: 0 auto;
                }
            }
            .svg-img {
                width: 35px;
                height: 16px;
            }            
        }
        
        &:last-child {
            .arrow {
                display: none;
            }
        }
        @media (min-width: 641px) and (max-width: 1024px){
            &:nth-child(even) {
                .arrow {
                    display: none;
                }
            }
        }
    }
    .step-wrapper {
        margin-bottom: 65px;
        text-align: center;
        .number {
            color: $primary-color;
            font-size: 60px;
            font-weight: 500;
        }
    }
}
//Call to action section
.call-to-action-section {
    margin-bottom: 70px;
    .pre-wrapper {
        background-color: $background-color;
    }
    .inner-wrapper {
        padding-top: 65px;
        padding-bottom: 65px;
        padding-left:15px;
        padding-right: 15px;
        .btn-wrapper {
            text-align: center;
            .btn {
                margin-bottom: 15px;
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }
}
//Featured Pages Section
.featured-pages-section {
    margin-bottom: 35px;
    &>.row {
        text-align: center;
        font-size: 0;
        .columns {
            float: none;
            display: inline-block;
            font-size: 0;
            vertical-align: top;
        }
    }    
    .inner-wrapper {
        position: relative;
        border: 1px solid $primary-color;
        padding: 30px 40px 25px 40px;
        margin-bottom: 35px;
        @media only screen and (max-width : 640px) {
          margin-bottom: 15px;
        }
        .image-wrapper {
            margin-bottom: 25px;
            img {
                display: block;
                margin: 0 auto;
                max-height: 86px;
            }
        }
        .title {
            margin-bottom: 17px;
            text-align: center;
        }
        .content {
            text-align: center;
            p {
                margin-bottom: 0;
            }
        }
        a {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }    
}
//Text With Image Section
.text-with-image-section {
    margin-bottom: 70px;
    .content {
        ul {
            margin-top: -10px;
        }
    }
}
//Advisor Contact Section -- and Quote section
.advisor-contact-section,
.quote-section {
    margin-bottom: 70px;
    .pre-wrapper {
        position: relative;
        background-color: $background-color;        
        padding-top: 30px;
        padding-bottom: 30px;
        overflow: hidden;
        @media(max-width:640px){
            padding-left: 15px;
            padding-right: 15px;
        }
        .bricks-wrapper {
            position: absolute;
            background-image: url('images/sprites/blocks-bricks.svg');
            width: 370px;
            height: 212px;
            right: 0;
            bottom: -41%;
            @media(max-width:640px){
                bottom: -21%;
            }
        }
        .content {
            position: relative;            
            padding-top: 30px;
            &.quote {
                p {
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 1.25;
                    margin-bottom: 15px;
                }                
            }
            &.author {
                padding-top: 0;
            }
        }
        .btns-wrapper {
            font-size: 0;
            .btn {
                margin-right: 15px;
                //margin-left: 7.5px;
                margin-bottom: 15px;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
//Click Through Blocks
@keyframes zoomin {
  0%   {transform:perspective(1px) scale(1); }
  40%  {transform:translate3d(0,0,0) scale(1.04);}
  80%  {transform:translate3d(0,0,0) scale(1.047);}
  100% {transform:translate3d(0,0,0) scale(1.05);}
}
@-webkit-keyframes zoomin {
  0%   {transform:perspective(1px) scale(1); }
  40%  {transform:translate3d(0,0,0) scale(1.04);}
  80%  {transform:translate3d(0,0,0) scale(1.047);}
  100% {transform:translate3d(0,0,0) scale(1.05);}
}
@keyframes zoomout {
  0%   {transform:translate3d(0,0,0) scale(1.05);}
  100% {transform:perspective(1px) scale(1); }
}
@-webkit-keyframes zoomout {
  0%   {transform:translate3d(0,0,0) scale(1.05);}
  100% {transform:perspective(1px) scale(1); }
}
.click-through-blocks {
    background-color: $background-color;
    padding-top: 65px;
    padding-bottom:35px;
    .section-title {
        margin-bottom: 30px;
        text-align: center;
    }
    .blocks-columns {
        text-align: center;
        font-size: 0;
        .columns {
            display: inline-block;
            float: none !important;
        }
    }
    .column-wrapper {
        text-align: center;
    }
    .inner-wrapper {
        position: relative;
        //display: inline-block;
        max-width: 370px;
        margin-left: auto;
        margin-right: auto;        
        margin-bottom: 35px;
        font-size: 0;               
        .image-wrapper {
            //display: inline-block;
            font-size: 0;
            max-width: 370px;
            max-height: 217px;
            
            overflow: hidden;
            img {
                display: block;
                margin: 0 auto;            
                //animation: zoomout 0.3s ease-out forwards;
                transition: all .3s ease-in-out;
                //transform: perspective(1px) translateZ(0);
                //backface-visibility: hidden;                
                transform: scale(1.0, 1.0);
            }
        }
        &:hover {
            .image-wrapper {
                img {
                    //animation: zoomin 0.5s linear forwards;
                    transform: scale(1.05);                                       
                }
            }            
        }
        .title-wrapper {
            background-color: $primary-color;
            border-bottom: 4px solid $secondary-color;
            padding: 30px;
            padding-right: 30px;
            padding-left: 30px;
            padding-top: 26px;
            padding-bottom: 26px;
            text-align: left;
            .small-title {
                color: white;
                margin: 0;
            }
        }
        .link {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}
.text-section {
    margin-bottom: 70px;
}
.intro-text {
    p {
        font-size: 20px;
    }
}
//Catalog Section
.catalog-section {
    margin-bottom: 50px;
    .section-title {
        margin-bottom: 25px;
        text-align: center;
    }
}
//Tabs 
.tabs-content-wrapper {
    .tab-content {
        &:not(:first-child){
            display: none;
        }                
    }
    @media(max-width:640px){
        .project-pre-wrapper {
            text-align: center;
        }
    }    
    //project styles
    .inner-wrapper {
        position: relative;
        display: inline-block;
        max-width: 270px;
        margin-top: 40px;
        margin-bottom: 35px;
        font-size: 0;             
        .image-wrapper {
            display: inline-block;
            font-size: 0;
            max-width: 270px;
            max-height: 185px;
            overflow: hidden;
            img {
                display: block;
                margin: 0 auto;            
                //animation: zoomout 0.3s ease-out forwards;                
                transition: all .3s ease-in-out;
            }
        }
        &:hover {
            .image-wrapper {
                img {
                    //animation: zoomin 0.5s linear forwards;
                    transform: scale(1.05);
                }
            }            
        }
        .title-wrapper {
            background-color: $primary-color;
            border-bottom: 4px solid $secondary-color;            
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;            
            .small-title {
                position: relative;
                display: inline-block;
                color: white;
                margin: 0;
                padding-right: 42px;
                &:after{
                    content: '';
                    position: absolute;
                    top: 54%;
                    right: 0;                    
                    transform: translateY(-50%);
                    @include sprite('white-arrow-right');
                }
            }
        }
        .link {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
    .info-image {
        max-height: 70px;
    }
    .pre-table {
        display: table;
        height: 100%;
        width: 100%;
        .pre-table-cell {
            display: table-cell;
            vertical-align: middle;
        }
    }
    hr {
        border: 1px solid $background-color;
        margin-top: 25px;
        margin-bottom: 20px;
    }
}
.tabs-control {
    overflow: hidden;
    .elements-wrapper {
        position: relative;
        list-style-type: none;
        padding-left: 0; 
        text-align: left;
        font-size: 0;
        margin-bottom: 30px;        
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            width: 100%;            
            background-color: $background-color;
        }
        .element-wrapper {
            position: relative;
            display: inline-block;
            color: white;
            background-color: $primary-color;
            border-top: 2px solid $primary-color;
            border-left: 2px solid $primary-color;
            border-right: 2px solid $primary-color;
            border-bottom: 2px solid $background-color;
            cursor: pointer;
            //margin-right: 15px;
            margin-right: 2px;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 12px;
            padding-bottom: 12px;
            font-size: 18px;            
            font-weight: 500;            
            line-height: 24px;
            text-decoration: none;
            @media(max-width:640px) {
                display: block;
            }
            &.active {
                position: relative;
                color: $primary-color;
                background-color: white;
                border-top: 2px solid $background-color;
                border-left: 2px solid $background-color;
                border-right: 2px solid $background-color;
                border-bottom: 2px solid transparent;
                text-decoration: none;
                z-index: 1;
            }
            &:before {
                display: none;
            }
        }
    }
}
.animated {
  
}
@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  
}
//Usps Section
.usps-section {
    margin-bottom: 35px;
    text-align: center;
    .inner-wrapper {
        position: relative;
        display: inline-block;
        margin-bottom: 35px;
        text-align: center;
        .checkbox-wrapper {
            position: relative;
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
            width: 49px;
            height: 50px;            
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                @include sprite('checkbox-big-icon');
            }            
        }
        &:hover {
            .checkbox-wrapper {
                &:after {
                    -webkit-animation-name: bounce;
                    animation-name: bounce;
                    -webkit-transform-origin: center bottom;
                    transform-origin: center bottom;
                    -webkit-animation-duration: 1s;
                    animation-duration: 1s;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
                }
            }            
        }
        .title {
            margin-bottom: 0;
        }        
        .link {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}
// Slider Section
.slider-section {    
    margin-bottom: 70px;
    .pre-wrapper {
        background-color: $primary-color;
        padding-top: 25px;
        padding-bottom: 40px;
        @media(max-width: 1024px){
            padding-bottom: 120px;
        }
        @media only screen and (max-width : 640px) {
            padding-bottom: 60px;
        }
        .title {
            color: white;
            margin-bottom: 23px;
            text-align: center;
        }
    }
    .main-slider {
        outline: none;
        .slick-slide {
            background-color: white;
            padding: 10px;
            img {
                margin: 0 auto;
            }
            @media only screen and (max-width : 640px) {
              background-color: #ed9d19;
              padding-left: 20px;
              padding-right: 20px;
            }
        }
        .slick-prev, .slick-next {
            position: absolute;
            background-color: transparent;
            border: 2px solid white;
            border-radius: 35px;
            width: 70px;
            height: 70px;
            z-index: 9;
            outline: none;
            &:after {
                content: '';
                position: absolute;
                display: block;
                margin: 0 auto;
                left: 0;
                right: 0;
                top: 50%;
            }
            @media only screen and (max-width : 640px) {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              padding: 0;
            }
        }        
        .slick-prev {
            left: -100px;
            top: 50%;
            transform: translateY(-50%);
            &:after {                
                transform: translateY(-50%);
                @include sprite('slider-arrow-white');
            }
            /*@media(max-width:1024px){
                //left: -80px;
            }*/
            @media(max-width: 1024px){
                top: auto;
                bottom: -95px;
                left: 10px;
                transform: translateY(0);
            }
            @media only screen and (max-width : 640px) {
              bottom: -46px;
              left: 20px;
              &:after {
                transform: translate(0);
                top: 8px;
                right: 3px;
              }
            }
        }
        .slick-next {
            right: -100px;
            top: 50%;
            transform: translateY(-50%);
            &:after {                
                transform: translateY(-50%) rotate(180deg);
                @include sprite('slider-arrow-white');
            }
            /*@media(max-width:1024px){
                //right: -80px;
            }*/
            @media(max-width: 1024px){
                top: auto;
                bottom: -95px;
                right: 10px;
                transform: translateY(0);
            }
          @media only screen and (max-width : 640px) {
            bottom: -46px;
            right: 20px;
            &:after {
              left: 1px;
            }
          }
        }
        .slick-dots {
            position: absolute;
            margin-bottom: 0;
            bottom: 30px;            
            left: 0;
            right: 0;
            list-style-type: none;
            padding-left: 0;
            text-align: center;
            li {                
                background-color: white;
                display: inline-block;
                margin-left: 5px;
                margin-right: 5px;
                width: 16px;
                height: 16px;
                border-radius: 8px;
                cursor: pointer;
                padding-left: 0;
                &:before {
                    display: none;
                }
                &.slick-active {
                    background-color: #bb141a;
                }
                button {
                    display: none;
                }
            }
        }
    }
}
//video-section
.video-section {
    margin-bottom: 70px;
    .pre-wrapper {
        background-color: $primary-color;
        padding-top: 25px;
        padding-bottom: 40px;
        @media(max-width: 1024px){
            padding-bottom: 120px;
        }
        .title {
            color: white;
            margin-bottom: 23px;
            text-align: center;
        }
        .video-wrapper {
            background-color: white;
            padding: 10px;
            .video-container {
                position:relative;
                padding-bottom:56.25%;
                padding-top:30px;
                height:0;
                overflow:hidden;
                iframe, object, embed {
                    position:absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height:100%;
                }
            }
        }
    }
}
.images_section {
    margin-bottom: 30px;
    .image-wrapper {
        padding-bottom: 30px;        
        img {
            display: block;
            margin: 0 auto;
        }
    }
}
//projects-list-secion
.filters-wrapper {        
    margin-bottom: 15px;
    text-align: right;
    .single-filter {
        display: inline-block;
        margin-bottom: 10px;
        margin-left: 35px;        
    }
    .filter-project {
        //background-color: $background-color;
        background: url(images/sprites/arrow-down-select.svg) 90% / 15% no-repeat $background-color;
        background-size: 12px 8px;
        border: none;
        border-radius: 0;
        height: 53px;
        padding-left: 8px;
        padding-right: 30px;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}
.projects-list-secion {
    margin-bottom: 40px;
    .column-wrapper {
        text-align: center;
    }
    .inner-wrapper {
        position: relative;
        display: inline-block;
        max-width: 370px;   
        margin-bottom: 30px;
        font-size: 0;               
        .image-wrapper {
            display: inline-block;
            font-size: 0;
            max-width: 370px;
            max-height: 217px;
            overflow: hidden;
            img {
                display: block;
                margin: 0 auto;            
                //animation: zoomout 0.3s ease-out forwards;
                transition: all .3s ease-in-out;
            }
        }
        &:hover {
            .image-wrapper {
                img {
                    //animation: zoomin 0.5s linear forwards;
                    transform: scale(1.05);
                }
            }            
        }
        .title-wrapper {
            background-color: $primary-color;
            border-bottom: 4px solid $secondary-color;
            padding: 30px;
            padding-right: 30px;
            padding-left: 30px;
            padding-top: 26px;
            padding-bottom: 26px;
            text-align: left;
            .small-title {
                color: white;
                margin: 0;
            }
            .sub-title {
                color: white;
                font-size: 16px;
            }
        }
        .link {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}
//
.meta-row {
    text-align: right;
    .text {
        color: $primary-color;
        text-transform: capitalize;
    }
    .meta-block {
        display: inline-block;        
        margin-left: 25px;
        margin-bottom: 25px;
    }
    .category {
        position: relative;
        padding-left: 33px;
        .category-image {
            position: absolute;
            display: inline-block;
            width: 24px;
            height: 24px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .tags {
        position: relative;
        padding-left: 33px;
        .tag-image {
            position: absolute;
            display: inline-block;
            width: 24px;
            height: 24px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &:before {
            /*content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            @include sprite('person-icon');*/
        }
    }
    .date {
        position: relative;
        //padding-left: 33px;
        &:before {
            //content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            @include sprite('calendar-icon');
        }
    }    
}
//404 Page
.non-page {
    .searchform {
        margin-bottom: 70px;
        #s {
            height: 48px;
        }
    }
}
//
.mobile-menu {    
    .menu-item {        
        &.menu-item-has-children {
            .sub-menu {
                display:none;                
                &.active {
                    display: block;
                }                                
            }                    
            & > .arrow {
                position: relative;
                display: inline-block;
                width: 10px;
                height: 10px;                
                &:after {                    
                    content: '';
                    position: absolute;                                
                    top: 56%;
                    transform: translateY(-50%);
                    left: 10px;                    
                    @include sprite(arrow-down-white);
                }
            }
            &.active-sub {
                & > .arrow {
                    &:after {                        
                        top: 12%;
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}
//Footer
.main-footer {
    background-color: $primary-color;    
    padding-top: 56px;
    padding-bottom: 28px;
    .footer-column {
        margin-bottom: 28px
    }
    h3 {
        color: white;
        font-weight: 500;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 0;
    }
    p, a {
        color: white;        
    }
    a {
        &:hover {
            color: #333;
        }
    }
    .socails {
        font-size: 0;
        a {            
            position: relative;
            display: inline-block;
            background-color: white;
            border-bottom: 4px solid $secondary-color;
            font-size: 0;
            height: 44px;
            width: 44px;
            margin-right: 10px;
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
                margin: 0 auto;
            }
            &:hover {
                background-color: #333;
            }
            &.linkedin {
                &:after {
                    @include sprite('linkedin-icon');
                }
            }
            &.facebook {
                &:after {
                    @include sprite('facebook-icon');
                }
            }
        }        
    }
    .footer-menu {
        .menu-item {
            display: block;
            a {
                font-size: 16px;
            }
            &:before {
                @include sprite('li-icon-white');
            }
        }
    }
}
//Pop up Styles
.pop-up {
    display: none;
    position: fixed;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    bottom: 15px;
    right: 15px;
    background-color: white;
    padding: 70px 60px;
    width: 490px;
    max-width: calc(100% - 30px);
    height: auto;
    overflow: hidden;
    z-index: 99999;
    @media(max-width: 641px){
        padding: 35px 30px;
    }
    &:after {
        content: '';
        position: absolute;
        background-image: url(images/sprites/blocks-bricks.svg);
        width: 370px;
        height: 212px;
        right: -30%;
        bottom: -22%;
    }
    .inner-wrapper {
        position: relative;
        z-index: 1;
        @media(max-width:640px){
            h1 {
                font-size: 30px;
            }
            h2 {
                font-size: 24px;
            }
            h3 {
                font-size: 20px;
            }
            h4 {
                font-size: 18px;
            }
            h5 {
                font-size: 16px;          
            }
            h6 {
                font-size: 14px;
            }
            p {
                font-size: 14px;
            }
        }        
    }
    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 16px;
        height: 20px;
        cursor: pointer;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            @include sprite('cross-close');
        }
    }    
    &.pop-animate {        
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 1.5s;
        animation-name: animatetop;
        animation-duration: 1.5s;        
    }
    @-webkit-keyframes animatetop {
        from {bottom:-300px; opacity:0;}
        to {bottom:0; opacity:1;}
    }

    @keyframes animatetop {
        from {bottom:-300px; opacity:0;}
        to {bottom:0; opacity:1;}
    }
    .gform_wrapper {
        margin: 0 !important;
    }
    .gform_wrapper .gform_footer {
        padding-bottom: 0 !important;
    }
}
// RESPONSIVE

@media only screen
and (max-width : 1024px) {

}

@media only screen
and (max-width : 640px) {

}

@media only screen
and (max-width : 568px) {

}