input[type="submit"], button {
    @extend .button;
}

// Contact form 7 output
div.wpcf7-response-output {
    margin-left: 0;
    padding: 8px 18px;

    &.wpcf7-validation-errors {
        border: 2px solid $warning-color;
    }

    &.wpcf7-mail-sent-ok {
        border: 2px solid $success-color;
    }
}

span.wpcf7-not-valid-tip {
    color: $error-color;
    margin: 8px 0;
}