.sprite-arrow-down-select {
	width: 12px;
	height: 8px;
	background-position: 0 0;
}

.sprite-arrow-down-white {
	width: 12px;
	height: 8px;
	background-position: 0 -15px;
}

.sprite-blocks-bricks {
	width: 370px;
	height: 212px;
	background-position: 0 -30px;
}

.sprite-calendar-icon {
	width: 24px;
	height: 24px;
	background-position: 0 -250px;
}

.sprite-checkbox-big-icon {
	width: 49px;
	height: 50px;
	background-position: 0 -280px;
}

.sprite-circular {
	width: 28px;
	height: 28px;
	background-position: 0 -335px;
}

.sprite-clear {
	width: 23px;
	height: 23px;
	background-position: 0 -370px;
}

.sprite-cloud {
	width: 32px;
	height: 23px;
	background-position: 0 -400px;
}

.sprite-cross-close {
	width: 20px;
	height: 20px;
	background-position: 0 -430px;
}

.sprite-dark {
	width: 23px;
	height: 23px;
	background-position: 0 -455px;
}

.sprite-facebook-icon {
	width: 11px;
	height: 24px;
	background-position: 0 -485px;
}

.sprite-li-icon {
	width: 10px;
	height: 16px;
	background-position: 0 -515px;
}

.sprite-li-icon-white {
	width: 7px;
	height: 14px;
	background-position: 0 -540px;
}

.sprite-linkedin-icon {
	width: 25px;
	height: 24px;
	background-position: 0 -560px;
}

.sprite-logo {
	width: 166px;
	height: 22px;
	background-position: 0 -590px;
}

.sprite-mail-icon {
	width: 16px;
	height: 12px;
	background-position: 0 -620px;
}

.sprite-person-icon {
	width: 19px;
	height: 24px;
	background-position: 0 -640px;
}

.sprite-phone-icon {
	width: 16px;
	height: 16px;
	background-position: 0 -670px;
}

.sprite-slider-arrow-white {
	width: 12px;
	height: 20px;
	background-position: 0 -695px;
}

.sprite-thermometer {
	width: 12px;
	height: 32px;
	background-position: 0 -720px;
}

.sprite-tmd {
	width: 16px;
	height: 16px;
	background-position: 0 -760px;
}

.sprite-twister {
	width: 26px;
	height: 32px;
	background-position: 0 -785px;
}

.sprite-white-arrow-right {
	width: 22px;
	height: 10px;
	background-position: 0 -825px;
}

.sprite-arrow-down-select, .sprite-arrow-down-white, .sprite-blocks-bricks, .sprite-calendar-icon, .sprite-checkbox-big-icon, .sprite-circular, .sprite-clear, .sprite-cloud, .sprite-cross-close, .sprite-dark, .sprite-facebook-icon, .sprite-li-icon, .sprite-li-icon-white, .sprite-linkedin-icon, .sprite-logo, .sprite-mail-icon, .sprite-person-icon, .sprite-phone-icon, .sprite-slider-arrow-white, .sprite-thermometer, .sprite-tmd, .sprite-twister, .sprite-white-arrow-right {
	background-size: 375px 840px;
	background-repeat: no-repeat;
	background-image: url("images/sprites.png");
}

.svg .sprite-arrow-down-select, .svg .sprite-arrow-down-white, .svg .sprite-blocks-bricks, .svg .sprite-calendar-icon, .svg .sprite-checkbox-big-icon, .svg .sprite-circular, .svg .sprite-clear, .svg .sprite-cloud, .svg .sprite-cross-close, .svg .sprite-dark, .svg .sprite-facebook-icon, .svg .sprite-li-icon, .svg .sprite-li-icon-white, .svg .sprite-linkedin-icon, .svg .sprite-logo, .svg .sprite-mail-icon, .svg .sprite-person-icon, .svg .sprite-phone-icon, .svg .sprite-slider-arrow-white, .svg .sprite-thermometer, .svg .sprite-tmd, .svg .sprite-twister, .svg .sprite-white-arrow-right {
	background-image: url("images/sprites.svg");
}
