// Text alignement classes
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

// Colors
a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:focus, &:active {
        color: $primary-color;
    }
}

p, h1, h2, h3, h4, h5, h6, li, blockquote {
    color: $text-color;
}

