// - - - COLORS - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
$primary-color: #ed9d19 !default;
$secondary-color: #bb141a !default;
$third-color: #333333 !default;
$background-color: #ededed !default;

$text-color: #333 !default;

$error-color: red !default;
$success-color: green !default;
$warning-color: yellow !default;

$title-color: #333;

// - - - GRID - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
// Columns
$grid-width: 1170px !default;
$grid-column-count: 12 !default;
$grid-column-gutter: 30px !default;

// Breakpoints
$grid-breakpoints: (
    'small'   : (0em,          40em),
    'medium'  : (40.0625em, 64em),
    'large'   : (64.0625em, 90em),
    'xlarge'  : (90.0625em, 120em),
    'xxlarge' : (120.0625em),
) !default;